@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #011823;
}

h2 {
  color: #fff;
  font-family: "Comfortaa", cursive;
  font-weight: 100;
}